
  .person {
      border: 10px solid transparent;
      margin-bottom: 10px;
      width: 50%;
      height:50%;
      opacity: 0.9;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
      -webkit-filter: sepia(100%);
      filter: sepia(100%); /* make all photos black and white */ 
      width: 100%; /* Set width to 100% */
      background-size:auto; 
  }
  .carousel-caption h1 {
      color: #fff ;
  }
  @media (max-width: 700px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  
  
  .navbar {
      margin-bottom: 0;
      border: 0;
      font-size: 11px ;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 ;
  }
  .navbar-nav li a:hover {
      color: #fff ;
  }
  .navbar-nav li.active a {
      color: #fff ;
  }
  .navbar-default .navbar-toggle {
      border-color: solid;
  }

  .button4 {border-radius: 12px;}
    
    #horizontal-line{ 

     display: block;
     margin-bottom:20PX;
     margin-left:70px; 
     margin-right: 150px;
     border-style: inset;
     border-width: 0.5px;
     border-color: #fafafa;

     }
     .fa {
      margin-bottom: 20px;
    font-size:7px;
    width:32px;
    text-align:center;
    text-decoration: none;
    border:1px solid;
    border-color: white; 
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background:black;
    color: white;
    margin-right: 10px;
}
.fa-twitter {
    background: black;
    color: white;
    margin-right: 25px;
}
.fa-envelope{
  background: black;
  color: white;
  margin-right: 5px;
}
#footer{
  background-color: black;
}

#Work{

  border:2px solid;
  border-color: white;
}

.button {
    background-color: #29b6f6;
    border: solid;
    border-color: white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}